
<div class="courses">

    <div class="coursecard" *ngIf="course"
    [ngClass]="cardClass()">

        <div class="course-title" [ngStyle]="cardStyle()">
            {{cardIndex + ' '+ course.description}}
        </div>
        <img width="300" alt="Angular Logo" *ngIf="course.iconUrl; else noImage"
             [src]="course.iconUrl">
            <ng-template #noImage>
                <p>No image available.</p>
            </ng-template>
        <div class="course-description">
            {{course.longDescription}}
        </div>
        <button (click)="onCourseViewed()">View Course</button>
    </div>

</div>